name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux-gcc13:
    strategy:
      matrix:
        config: [ Debug ]
    runs-on: ubuntu-22.04
    container: gcc:13
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          apt update -y
          apt upgrade -y
          apt install -y cmake libwayland-dev libxkbcommon-dev wayland-protocols xorg-dev libasound2-dev
      
      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{matrix.config}} \

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.config}} --parallel

      - name: UPL
        uses: actions/upload-artifact@v4

